<header>
  <!--
  <div class="alert alert-info text-center mb-0 rounded-0 alert-dismissible fade show">
    Hobby-com update news!!!
    <button class="close" data-dismiss="alert">
      &times;
    </button>
  </div>
  -->
  <div>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark mt-2 bg-dark">
      <%= link_to "Hobby-com", root_path, id: "logo", class: 'navbar-brand' %>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="navbar-nav">
        <!-- <ul class="navbar navbar-expand navbar-right"> -->
          <% if logged_in? %>
            <!-- <li class="nav-item"><%= link_to "Users", '#',class: "nav-link"%></li> -->
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                アカウント <b class="caret"></b>
              </a>
              <ul class="dropdown-menu bg-dark">
                <li><%= link_to "アカウント設定", edit_user_profile_path(account: current_user.account),class:"text-light" %></li>
                <li><%= link_to "趣味設定", edit_element_path(account: current_user.account),class:"text-light" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", logout_path, method: :delete,class:"text-light" %>
                </li>
              </ul>
            </li>

            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                フレンド <b class="caret"></b>
              </a>
              <ul class="dropdown-menu bg-dark">
                <li class="nav-item">
                  <%= render 'shared/stats' %>
                </li>
                <li class="divider"></li>
              </ul>

            <li class="nav-item"><%= link_to "使い方ガイド", help_path, { :class => "navbar-brand nav-link" } %></li>
            <li class="nav-item"><%= link_to "レビューはこちら", 'https://goo.gl/forms/41aZVzoTV5Jm4ztE3', { :class => "navbar-brand nav-link" } %></li>

          <% else %>

            <li class ="nav-item"><%= link_to "ログイン", login_path, { :class => "navbar-brand nav-link" } %></li>
            <li class="nav-item"><%= link_to "使い方ガイド", help_path, { :class => "navbar-brand nav-link" } %></li>
            <li class="nav-item"><%= link_to "レビューはこちら", 'https://goo.gl/forms/41aZVzoTV5Jm4ztE3', { :class => "navbar-brand nav-link" } %></li>

          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>

<% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
