<header>
  <div class="alert alert-info text-center mb-0 rounded-0 alert-dismissible fade show">
    Hobby-com update news!!!
    <button class="close" data-dismiss="alert">
      &times;
    </button>
  </div>
  <div>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark mt-2 bg-dark">
      <%= link_to "Home", root_path, id: "logo", class: 'navbar-brand' %>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="navbar-nav">
        <!-- <ul class="navbar navbar-expand navbar-right"> -->
          <% if logged_in? %>
            <!-- <li class="nav-item"><%= link_to "Users", '#',class: "nav-link"%></li> -->
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu bg-dark">
                <li><%= link_to "アカウント設定", edit_user_profile_path(current_user),class:"text-light" %></li>
                <li><%= link_to "趣味設定", edit_element_path(current_user),class:"text-light" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", logout_path, method: :delete,class:"text-light" %>
                </li>
              </ul>
            </li>
            <% if @user == current_user %>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  Friends <b class="caret"></b>
                </a>
                <ul class="dropdown-menu bg-dark">
                  <li class="nav-item">
                    <a class="nav-link"><%= render 'shared/stats' %></a>
                  </li>
                  <li class="divider"></li>
                </ul>
            <% end %>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
