<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- fix予定 -->
<link rel="stylesheet" href="/assets/user_profile.scss">
<!-- fix予定 -->


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Bootstrap 4 Register Form</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/album.scss">
</head>
<div class="bg-image-loop">
</div>
<%= render "layouts/header" %>
<body>
<div class="contents-bg">
  <div class="contents">
    <%= form_for @user, :url => {:controller => :user_profile, :action => yield(:action)} do |f| %>
      <%= render 'shared/error_messages', object: @user %>
      <div class="container py-5 mb-10 mt-5 box8">

        <form class="form-horizontal" role="form" method="POST" action="/register">
          <div class="mb-2 row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h2 class="font-weight-bold font-italic test-black"><%= yield(:pagetitle) %></h2>
              <hr>
            </div>
          </div>

          <!-- FIX: デザイン改良 -->
          <% if not logged_in? %>

            <div class="row">
              <div class="col-md-3 field-label-responsive">
                <label for="name" class="text-black">アカウント名</label>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user fa-lg my-skyblue"></i>
                    </div>
                    <!-- <input type="text" name="name" class="form-control" id="name" placeholder="John Doe" required autofocus> -->
                    <!-- <%= f.label :account %> -->
                    <%= f.text_field :account, :placeholder => "変更不可，半角英数字のみ", class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                      <!-- Put name validation error messages here -->
                    </span>
                </div>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="name" class="text-black">ニックネーム</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user fa-lg my-skyblue"></i></div>
                  <!-- <input type="text" name="name" class="form-control" id="name" placeholder="John Doe" required autofocus> -->
                  <!-- <%= f.label :name %> -->
                  <%= f.text_field :name, :placeholder => "山田　太郎", class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                  <span class="text-danger align-middle">
                    <!-- Put name validation error messages here -->
                  </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="email" class="test-black">E-Mail</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at fa-lg my-skyblue"></i></div>
                  <%= f.email_field :email, class: 'form-control', :placeholder => "example@hoge.com" %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                  <span class="text-danger align-middle">
                    <!-- Put e-mail validation error messages here -->
                  </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="email" class="test-black">経歴，プロフィール</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at fa-lg my-skyblue"></i></div>
                  <%= f.text_area :biography, class: 'form-control', :placeholder => "任意，150文字まで", :size => "300×600" %>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-control-feedback">
                 <span class="text-danger align-middle">
                 <!-- Put e-mail validation error messages here -->
                 </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="password" class="test-black">パスワード</label>
            </div>
            <div class="col-md-6">
              <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key fa-lg my-skyblue"></i></div>
                  <%= f.password_field :password, class: 'form-control', :placeholder => "8文字以上" %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 field-label-responsive">
              <label for="password" class="test-black">パスワード(再)</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-repeat fa-spin fa-lg my-skyblue"></i>
                  </div>
                  <!-- <input type="password" name="password-confirmation" class="form-control" id="password-confirm" placeholder="Password" required> -->
                  <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "8文字以上" %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="mb-2 mr-sm-2 mb-sm-0">
                  <div class="btn_position">
                    <%= f.submit yield(:button_text), class: "square_btn" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    <% end %>
  </div>
</div>
<!--
<footer class="text-center text-muted py-5">
  #Copyright Hobby.com
</footer>
-->
<!-- <div class="album">
  <img class="img1" src="assets/music1.png" alt="music1">
  <img class="img2" src="assets/music2.png" alt="music2">
  <img class="img3" src="assets/music3.png" alt="music3">
  <img class="img4" src="assets/music4.png" alt="music4">
</div> -->


</body>
<!-- <div class="bg-scale mt-5">
  <div class="inner">
      <p>Hobby-com　Hobby-com</p>
      <a href="#" class="btn-more">top</a>
  </div>
</div> -->


<!-- <div class="album">
	<img class="img1" src="assets/music1.png" alt="music1">
	<img class="img2" src="assets/music2.png" alt="music2">
	<img class="img3" src="assets/music3.png" alt="music3">
	<img class="img4" src="assets/music4.png" alt="music4">
</div> -->
