<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= @user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <link rel="stylesheet"  href="/assets/show.scss">

</head>

<%= render "layouts/header" %>

<body>
  <div class="header text-center">
    <h1><%= @user.name %></h1>
  </div>

  <div class = "main">

    <div class="container">

      <div class="row">

        <!--自分のページ-->
        <% if logged_in? and @user == current_user%>

          <div class="text-center hobbylist col-md-6">
            <div class="card-head">
              <h5 class="card-title title">プロフィール</h5>
            </div>
            <div class="card-body">
              <ul><!--自己紹介欄-->
                <%= text_url_to_link(h(simple_format(@user.biography))).html_safe %>
              </ul>
            </div>
          </div>
       </div>


       <div class="row">

          <div class="text-center hobbylist col-md-6">
            <div class="card-head">
              <h5 class="card-title title">公開</h5>
            </div>
            <div class="card-body">
              <ul><!--パブリック項目-->
                <% @user.elements.each do |data| %>
                  <% if not @user.users_elements.find_by(element_id: data.id).private == true %>
                    <li><%= data.name  %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>


          <div class="text-center hobbylist col-md-6">
            <div class="card-head">
              <h5 class="card-title title">非公開</h5>
            </div>
            <div class="card-body">
              <ul><!--プライベート項目-->
                <% @user.elements.each do |data| %>
                  <% if @user.users_elements.find_by(element_id: data.id).private == true %>
                     <li><%= data.name  %></li>
                  <%end %>
                <% end %>
              </ul>
            </div>
          </div>


        <!--他人のページ-->
        <% else %>
          <% if not @user.biography.size == 0 %>
            <div class="text-center hobbylist col-md-6">
              <div class="card-head">
                <h5 class="card-title title">プロフィール</h5>
              </div>
                <div class="card-body">
                  <ul><!--自己紹介欄-->
                    <%= text_url_to_link(h(simple_format(@user.biography))).html_safe %>
                  </ul>
                </div>
            </div>
          <% end %>

          <!--共通項目-->
            <div class="col-md-4 col-lg-4 col-xl-4">
              <img class="user-icon" src="https://1.bp.blogspot.com/-HdrrDLMxxGs/Ws2uzOpk8yI/AAAAAAABLRY/9Td_5zg6Nf4eOkMiTbVdJ8qwuAfHfCltwCLcBGAs/s800/figure_dance.png">
            </div>

            <div class="text-center col-md-12">
              <div class="card-head">
                <h5 class="card-title title">共通点</h5>
              </div>
              <div class="card-body">
                <ul>
                  <% @friend_elements.each do |data| %>
                    <li><%= data.name %></li>
                  <% end %>
                </ul>
              </div>
            </div>

          <!--パプリック項目-->
          <div class="text-center col-md-12">
            <div class="card-head">
              <h5 class="card-title title">公開</h5>
            </div>
            <div class="card-body">
              <ul>
                <% @user.elements.each do |data| %>
                  <% if not @user.users_elements.find_by(element_id: data.id).private == true %>
                    <li><%= data.name %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

      </div>

      <br>
      <br>

      <!--自分のページのみ共有リンク生成-->
      <% if logged_in? and @user == current_user%>
        <div class="share_mypage">
          <h4>あなたの趣味を共有しよう</h4>
          <h5>あなたのページのURL</h5>
          <textarea id="txt_share" style="width:450px; height:100px;"></textarea>
          <button class="btn" id="cp" data-clipboard-action="copy" data-clipboard-target="#txt_share">リンクをコピー</button>
          <h5>あなたのページのQRコード</h5>
          <div class="qr-area" id="code">
          </div>

        </div>
      <% end %>
      <br>
      <br>

      <%= link_to "レビューはこちら", 'https://goo.gl/forms/41aZVzoTV5Jm4ztE3', { :class => "btn btn-light btn-md" } %>

      <br>
      <br>
      <% if logged_in? %>
        <%= render 'follow_form' %>
      <% end %>
    </div>
  </div>

</body>

</html>
