<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= @user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <style type="text/css">
        .user-icon{
            border-radius:50%;
            width:300px;
            height:300px;
        }
        .user-info{
            font-family: 'Amatic SC', cursive;
            text-align:center;
        }
        .user-sns dt{
            font-size:30px;
        }
        .user-sns dd{
            font-size:26px;
        }
        .card{
            margin:20px;
        }
        .card-body{
            font-size:30px;
        }
    </style>
</head>

<%= render "layouts/header" %>

<body>
  <div class="header text-center" style="font-family: 'Amatic SC', cursive;">
    <h1><%= @user.name %> introduction</h1>
    <%#= link_to "HOME", root_path, { :class => "btn btn-outline-primary" } %>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <img class="user-icon" src="https://1.bp.blogspot.com/-HdrrDLMxxGs/Ws2uzOpk8yI/AAAAAAABLRY/9Td_5zg6Nf4eOkMiTbVdJ8qwuAfHfCltwCLcBGAs/s800/figure_dance.png">
      </div>

      <% if @user.elements.size > 0 %> 
        <div class="card text-center">
          <div class="card-header">
            <h5 class="card-title">HOBBY</h5>
          </div>
          <div class="card-body">
            <ul>
              <% @user.elements.each do |data| %>
                <li><%= data.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @user != current_user %>
    <%=link_to 'EXTRACTION', common_element_path , { :class => "btn btn-primary" }%>
  <% end %>

</body>

</html>
