<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= @user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <link rel="stylesheet"  href="/assets/show.scss">

</head>

<%= render "layouts/header" %>

<body>
  <div class="header text-center">
    <h1><%= @user.name %></h1>
  </div>

  <div class = "main">

    <div class="container">

      <div class="row">

        <!--ユーザープロフィール(共通)-->
        <div class="text-center hobbylist col-md-12">
          <div class="card-head">
            <h5 class="card-title title">プロフィール</h5>
          </div>
          <div class="card-body">
            <ul><!--自己紹介欄-->
              <%= text_url_to_link(h(simple_format(@user.biography))).html_safe %>
            </ul>
          </div>
        </div>

      </div>

      <!--共通項目-->
      <div class="row">

        <% if logged_in? and @user.friend?(current_user) %>
        <div class="text-center col-md-6">
          <div class="card-head">
            <h5 class="card-title title">共通点</h5>
          </div>
          <div class="card-body">
            <ul>
              <% @friend_elements.each do |data| %>
                <li><%= data.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>

        <!--パブリック項目-->
        <div class="text-center hobbylist col-md-6">
          <div class="card-head">
            <% (logged_in? and (@user == current_user)) ? title = "公開" : title = "すきなこと" %>
            <h5 class="card-title title"><%= title %></h5>
          </div>
          <div class="card-body">
            <ul>
              <% @user.elements.each do |data| %>
                <% if not is_private_element?(data.id) %>
                  <li><%= data.name  %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        
        <!--プライベート項目-->
        <% if @user == current_user %>
        <div class="text-center hobbylist col-md-6">
          <div class="card-head">
            <h5 class="card-title title">非公開</h5>
          </div>
          <div class="card-body">
            <ul>
              <% @user.elements.each do |data| %>
                <% if is_private_element?(data.id) %>
                  <li><%= data.name  %></li>
                <%end %>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>

      </div>


      
      <% if logged_in? and @user.friend?(current_user) %>
      <div class="raw">
        <div class="text-center col-md-12">
          <div class="card-head">
            <h5 class="card-title title">共通かも</h5>
          </div>
          <div class="card-body">
            <ul>
              <% @maybe_common_elements.each do |data| %>
                <li><%= data.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>

      <br>
      <br>

      <!--自分のページのみ共有リンク生成-->
      <% if logged_in? and @user == current_user%>
        <div class="share_mypage">
          <h4>あなたの趣味を共有しよう</h4>
          <h5>あなたのページのQRコード</h5>
          <div class="qr-area" id="code">
          </div>

        </div>
      <% end %>
      <br>
      <br>

      <%= link_to "レビューはこちら", 'https://goo.gl/forms/41aZVzoTV5Jm4ztE3', { :class => "btn btn-light btn-md" } %>

      <br>
      <br>
      <% if logged_in? %>
        <%= render 'follow_form' %>
      <% end %>
    </div>
  </div>

</body>

</html>
