<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= @user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <link rel="stylesheet"  href="/assets/show.scss">
    
</head>

<%= render "layouts/header" %>

<body>
  <div class="header text-center" style="font-family: 'Amatic SC', cursive;">
    <h1><%= @user.name %></h1>
  </div>

  <div class = "main">
    
    <div class="container">

      <div class="row">

        <!--自分のページ-->
        <% if logged_in? and @user == current_user%>

          <div class="text-center hobbylist col-md-6">
            <div class="card-head">
              <h5 class="card-title title">プロフィール</h5>
            </div>
            <div class="card-body">
              <ul><!--自分のページの自己紹介欄-->
                <%= text_url_to_link(h(simple_format(@user.biography))).html_safe %>
              </ul>
            </div>
          </div>

          <div class="text-center hobbylist col-md-6">
            <div class="card-head">
              <h5 class="card-title title">公開</h5>
            </div>
            <div class="card-body">
              <ul><!--自分のページのパブリック項目-->
                <% @user.elements.each do |data| %>
                  <% if not @user.users_elements.find_by(element_id: data.id).private == true %>
                    <li><%= data.name  %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>


          <div class="text-center hobbylist col-md-6">
            <div class="card-head">
              <h5 class="card-title title">非公開</h5>
            </div>
            <div class="card-body">
              <ul><!--自分のページのプライベート項目-->
                <% @user.elements.each do |data| %>
                  <% if @user.users_elements.find_by(element_id: data.id).private == true %>
                     <li><%= data.name  %></li>
                  <%end %>
                <% end %>
              </ul>
            </div>
          </div>


        <!--他人のページのパプリック項目-->
        <% else %>
          <div class="text-center col-md-12">
            <div class="card-head">
              <h5 class="card-title title">公開</h5>
            </div>
            <div class="card-body">
              <ul>
                <% @user.elements.each do |data| %>
                  <% if not @user.users_elements.find_by(element_id: data.id).private == true %>
                    <li><%= data.name %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        
      </div>

      <br>
      <br>

      <div class="share_mypage">
        <h4>あなたの趣味を共有しよう</h4>
        <textarea id="txt_share" style="width:450px; height:100px;"></textarea>
        <button class="btn" id="cp" data-clipboard-action="copy" data-clipboard-target="#txt_share">リンクをコピー</button>
      </div>
      <br>
      <br>

      <%= link_to "レビューはこちら", 'https://goo.gl/forms/41aZVzoTV5Jm4ztE3', { :class => "btn btn-light btn-md" } %>

      <br>
      <br>
      <% if logged_in? %>
        <% if @user.friend?(current_user) %>
          <%= link_to 'MATCHING', common_element_path , { :class => "btn btn-primary" } %>
        <% end %>
        <%= render 'follow_form' %>
      <% end %>
    </div>
  </div>

</body>

</html>
