<%= render "layouts/header" %>
<%= stylesheet_link_tag "show", :media => "all" %>
<div class="header text-center">
  <h1><%= @user.name %></h1>
  <% if logged_in? %>
    <%= render 'follow_form' %>
  <% end %>
</div>

<div class="main">

  <div class="container">

    <div class="row">
      <!--ユーザープロフィール(共通)-->
      <div class="col-md-2">
      </div>
      
      <div class="text-center hobbylist col-md-8 card-head">
        <br> 
        <div class="box10">
          <span class="tape3"></span>
          <br>
          <br>
          <h3>プロフィール</h3>
          <br>
          <%= text_url_to_link(h(simple_format(@user.biography))).html_safe %>
          <br>
        </div>
      </div>

      <div class="col-md-2">
      </div>

    </div>

    <!--共通項目-->
    <br>
    <div class="row card-head">
      
      <% if logged_in? and @user.friend?(current_user) %>
        <br>
        <div class="text-center col-md-6">
          <div class="box10">
            <span class="tape3"></span>
            <br>
            <br>
            <h3>共通点</h3>
              <ul>
                <% @common_elements.each do |data| %>
                  <li><%= data.name %></li>
                <% end %>
              </ul>
            <br>
          </div>
        </div>

        <div class="text-center col-md-6 card-sumaho"> 
          <div class="box10">
            <span class="tape3"></span>
            <br>
            <br>
            <h3>共通かも</h3>
              <ul>
                <% @maybe_common_elements.each do |data| %>
                  <li><%= data.name %></li>
                <% end %>
              </ul>
            <br>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row card-head">

      <!--パブリック項目-->
      <!--自身のページ-->
      <% if logged_in? and (@user == current_user) %>
      <div class="text-center hobbylist col-md-6">
      <!--他人のページ-->
      <% else %>
      <div class="text-center hobbylist col-md-12 card-head">
      <% end %>
        
        <div class="box10">
          <span class="tape3"></span>
          <br>
          <br>
          <h3>
            <% if logged_in? and (@user == current_user) %>
              公開
            <% else %>
              すきなこと
            <% end %>
          </h3>
            <ul>
              <% @user.elements.each do |data| %>
                <% if not @user.is_private_element?(data.id) %>
                  <li><%= data.name %></li>
                <% end %>
              <% end %>
            </ul>
          <br>
        </div>
      </div>

      <!--プライベート項目-->
      <% if @user == current_user %>
      <div class="text-center hobbylist col-md-6 card-sumaho">

        <div class="box10">
          <span class="tape3"></span>
          <br>
          <br>
          <h3>非公開</h3>
            <ul>
              <% @user.elements.each do |data| %>
                <% if @user.is_private_element?(data.id) %>  
                  <li><%= data.name %></li>
                <%end %>
              <% end %>
            </ul>
          <br>
        </div>
      </div>
    <% end %>
    
    </div>

      <br>
      <br>

      <!--自分のページのみ共有リンク生成-->
      <% if logged_in? and @user == current_user %>
        <div class="share_mypage">
          <h4>あなたの趣味を共有しよう</h4>
          <h5>あなたのページのQRコード</h5>
          <div class="qr-area" id="code">
          </div>
        </div>
      <% end %>

      <br>
      <br>

    </div>
  </div>
</div>
