<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= @user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <link rel="stylesheet"  href="/assets/show.scss">
</head>

<%= render "layouts/header" %>

<body>
  <div class="header text-center" style="font-family: 'Amatic SC', cursive;">
    <h1><%= @user.name %> introduction</h1>
  </div>
  
  <div class = "main">
    <div class="container main">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4">
        </div>

        <% if @user.elements.size > 0 %>
          <!--自分のページ-->
          <% if logged_in? and @user == current_user%>
            <div class="card text-center">
              <div class="card-header">
                <h5 class="card-title">パブリック</h5>
              </div>
              <div class="card-body">
                <ul><!--自分のページのパブリック項目-->
                  <% @user.elements.each do |data| %>
                    <% if not @user.users_elements.find_by(element_id: data.id).private == true %>
                      <li><%= data.name  %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-header">
                <h5 class="card-title">プライベート</h5>
              </div>
              <div class="card-body">
                <ul><!--自分のページのプライベート項目-->
                  <% @user.elements.each do |data| %>
                    <% if @user.users_elements.find_by(element_id: data.id).private == true %>
                       <li><%= data.name  %></li>
                    <%end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <!--他人のページのパプリック項目-->
          <% else %>
            <div class="card text-center">
              <div class="card-header">
                <h5 class="card-title">パブリック</h5>
              </div>
              <div class="card-body">
                <ul>
                  <% @user.elements.each do |data| %>
                    <% if not @user.users_elements.find_by(element_id: data.id).private == true %>
                      <li><%= data.name %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

    <% if logged_in? %>
      <% if @user == current_user %>
        <%= render 'shared/stats' %>
      <% elsif @user.friend?(current_user) %>
        <%= link_to 'MATCHING', common_element_path , { :class => "btn btn-primary" } %>
      <% end %>
      <%= render 'follow_form' %>
    <% end %>

</body>

</html>
