<% @user ||= current_user %>
<div class="stats">
  <a href="<%= follow_exchanges_user_profile_path(@user) %>">
    <% follow_exchanges = @user.find_follow_exchanges.size %>
    <strong id="followers" class="stat">
      <%= follow_exchanges %>
    </strong>
    <%= follow_exchanges > 1 ? "friends" : "friend" %>
  </a>
  <br>
  <a href="<%= follow_requests_user_profile_path(@user) %>">
    <% requests = @user.find_friend_requests.size %>
    <strong id="followers" class="stat">
      <%= requests %>
    </strong>
    <%= requests > 1 ? "requests" : "request" %>
  </a>
</div>
