<div id="input_area">
  <table border="1">
    <tr>
      <th>内容</th><th>非公開</th>
    </tr>
    <%= fields_for :element, @element, :url => { :controller => :element } do |f| %>
      <% 10.times do |i| %>
        <tr>
          <%= f.fields_for "elements[]", @element do |fe| %>
            <td><%= fe.text_field :name %></td>
          <% end %>
          <%= f.fields_for "users_elements_attributes[]", @users_element, {index: i} do |ue| %>
            <td><%= ue.check_box :private, {selected: true}, true, false %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br>
</div>

