<% provide(:title, 'Sign up') %>
<h1 class="title">ホビコム登録フォーム</h1>
<div class="container">
  <div class="user_data">

    <h2>趣味の編集</h2>
    <h3>趣味解答欄</h3>
    <%= form_for @user, :url => { :controller => :element, :action => :update } do |f| %>
      <%= f.fields_for :elements do |fe| %>
        <%= fe.text_field :name, readonly: true %>
        <div class="form-group">
          <%= fe.label :_destroy, class: "control-label col-sm-2" %>
          <span class="col-sm-10">
            <%= fe.check_box :_destroy %>
          </span>
        </div>
      <% end %>

      <h2>趣味の追加</h2>
      <%= render 'add_form' %>
      <%= f.submit "更新", class: "btn btn-submit" %>
    <% end %>

    <br>
    <br>

  </div>
</div>
<style type="text/css">
  .btn-submit{
    color: white;
    font-weight:bold;
    background:#ffc107;
    border-color: #ff8c00;
  }
</style>
