<% provide(:title, 'Sign up') %>
<%= stylesheet_link_tag "element", media: "all","data-turbolinks-track" => true %>
<h1>好きなことの編集</h1>
<div class="container">
  固有名詞でお願いします
  <br>
  <br>
  例：<br>
  本を読む→読書<br>
  ラーメンを食べる→ラーメン<br>
  <br>
  <br>
  <div class="user_data">
    <%= form_for @user, :url => { :controller => :element, :action => :update } do |f| %>

      <%= f.fields_for :elements do |fe| %>
        <%= fe.text_field :name, readonly: true %>
        <div class="form-group">
          <%= fe.label :_destroy, class: "control-label col-sm-2" %>
          <span class="col-sm-10">
            <%= fe.check_box :_destroy %>
          </span>
          <%#= f.fields_for :users_elements do |ue| %>
            <%#= ue.label :private,"公開範囲", class: "control-label col-sm-2" %>
<!--              <span class="col-sm-10">-->
<!--                <%#= ue.radio_button :private ,"true" %>private-->
<!--                <%#= ue.radio_button :private, "false" %>public-->
<!--              </span>-->
          <%# end %>
        </div>
      <% end %>

<!--      趣味のプライベート設定-->
      <%= f.fields_for :users_elements do |ue| %>
        <%= ue.label :private,"公開範囲", class: "control-label col-sm-2" %>
        <span class="col-sm-10">
          <%= ue.radio_button :private ,true %>private
          <%= ue.radio_button :private, false %>public
        </span>
      <% end %>

      <br>
      <br>
      <h2>好きなことの追加</h2>
      <%= render 'add_form' %>
      <%= f.submit "更新", class: "btn btn-submit" %>
    <% end %>

    <br>
    <br>

  </div>
</div>