<head>
  <link href="assets/top.scss" rel="stylesheet">
</head>

<body>
<div class="container-fluid">

  <header>
    <div class="center">
      <h1>Hobby-com</h1>
    </div>
  </header>

  <div class="row">

    <div class="col-sm">
      <br>
      <div class="row">
        <b><%= image_tag 'pic1.png' , :size =>'65x65' %>コンタクトを取りたい</b>
      </div>
      <br>
      <div class="row">
        <b><%= image_tag 'pic2.png' , :size =>'65x65' %>会話の糸口がほしい</b>
      </div>
      <br>
      <div class="row">
        <b><%= image_tag 'pic3.png' , :size =>'65x65' %>心の壁を取り払いたい</b>
      </div>
      <br>
    </div>

    <div class="col-sm">
      <br>
      <br>
      <b>　みんなの自己紹介や共通の趣味を</b><br>
      <b>　見つけて、コンタクトを取ろう！</b><br>
      <br>
      <b>　さあ、Hobby-comをはじめよう！</b><br>
      <br>　
      <%=link_to '　　新規登録　　', signup_path , { :class => "btn btn-dark btn-lg" }%>
      <%=link_to '　　ログイン　　', login_path , { :class => "btn btn-dark btn-lg" }%>
      <br>
    </div>

  </div>
  
<!--  TODO:デザイン性の向上-->
  <div class = "row">
    <div class="help">
      <%= link_to "使い方ガイド", help_path, { :class => "btn btn-primary btn-md" } %>
      <br>
      <br>
      <%= link_to "レビューはこちら", 'https://goo.gl/forms/41aZVzoTV5Jm4ztE3', { :class => "btn btn-light btn-md" } %>
    </div>
  </div>

</div>
</body>
