<head>
  <link href="assets/top.scss" rel="stylesheet">
</head>

<body>
<header>
  <div class="container-fluid">
    <div class="blocka">
      <h1>Hobby-com</h1>
    </div>
  </div>
</header>

<br>
<br>

<div class="blockb">
  <b><%= image_tag 'pic1.png' , :size =>'65x65' %>　コンタクトを取りたい</b><br>
  <br>
  <b><%= image_tag 'pic2.png' , :size =>'65x65' %>　会話の糸口がほしい</b><br>
  <br>
  <b><%= image_tag 'pic3.png' , :size =>'65x65' %>　心の壁を取り払いたい</b><br>
</div>
<div class="blockc">
  <br>
  <b>みんなの自己紹介や共通の趣味を</b><br>
  <b>見つけて、コンタクトを取ろう！</b><br>
  <br>
  <b>さあ、Hobby-comをはじめよう！</b><br>
  <div class="blockd">
    <br>
    <br>
    <%=link_to '　　新規登録　　', signup_path , { :class => "btn btn-outline-warning bg-light btn-lg" }%>
    <%=link_to '　　ログイン　　', login_path , { :class => "btn btn-outline-warning bg-warning btn-lg" }%>
  </div>
</div>
</body>