<head>
  <link href="assets/top.scss" rel="stylesheet">
</head>

<body>
<div class="container-fluid">

  <header>
    <div class="center">
      <h1>Hobby-com</h1>
    </div>
  </header>

  <div class="row">

    <div class="col-sm">
      <br>
      <div class="row">
        <b><%= image_tag 'pic1.png' , :size =>'65x65' %>コンタクトを取りたい</b>
      </div>
      <br>
      <div class="row">
        <b><%= image_tag 'pic2.png' , :size =>'65x65' %>会話の糸口がほしい</b>
      </div>
      <br>
      <div class="row">
        <b><%= image_tag 'pic3.png' , :size =>'65x65' %>心の壁を取り払いたい</b>
      </div>
      <br>
    </div>

    <div class="col-sm">
      <br>
      <div class="row">
        <b>みんなの自己紹介や共通の趣味を見つけて、</b>
      </div>
      <br>
      <div class="row">
        <b>コンタクトを取ろう！！！</b>
      </div>
      <br>
      <div class="row">
        <b>さあ、Hobby-comをはじめよう！</b>
      </div>
      <br>　
      <div class="row">
        <%=link_to '　新規登録　', signup_path , { :class => "btn btn-dark btn-lg" }%>
        <%=link_to '　ログイン　', login_path , { :class => "btn btn-dark btn-lg" }%>
      </div>
      <br>
    </div>

  </div>
  <section>
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center p-content">
            <div class="p-box">
              <h2 class="section-heading text-white font-weight: 700">「- つかいかた -」</h2>
              <h3 class="section-subheading text-white">ホビコムってどうやって使えばいいの？？</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <%= image_tag 'about/1.jpg' , class:"rounded-circle img-fluid" %>
                </div>
                <div class="timeline-panel box10 tape">
                  <div class="timeline-heading">
                    <h4>1st Step</h4>
                    <h4 class="subheading">新規登録をしよう！</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">新規登録ボタンを押して、<br>アカウント名,ニックネーム,メールアドレス
                      ,プロフィール,パスワードを記入しよう！！</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <%= image_tag 'about/2.jpg' , class:"rounded-circle img-fluid" %>
                </div>
                <div class="timeline-panel box11 tape1">
                  <div class="timeline-heading">
                    <h4>2nd Step</h4>
                    <h4 class="subheading">アカウントURLを送ろう！</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">自分のアカウントページからURLをコピーして、友達(仮)に送ってみよう！</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <%= image_tag 'about/3.jpg' , class:"rounded-circle img-fluid" %>
                </div>
                <div class="timeline-panel box7">
                  <div class="timeline-heading">
                    <h4>3rd Step</h4>
                    <h4 class="subheading">他人から友達になろう！</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">友達と会話をする内容がたくさんできたら早速話してみよう！</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <h4>Let's
                    <br>go
                    <br>Hobby-com!!!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<!--  TODO:デザイン性の向上-->
  <div class = "row">
    <div class="help">
      <%= link_to "使い方ガイド", help_path, { :class => "btn btn-primary btn-md" } %>
      <br>
      <br>
      <%= link_to "レビューはこちら", 'https://goo.gl/forms/41aZVzoTV5Jm4ztE3', { :class => "btn btn-light btn-md" } %>
    </div>
  </div>

</div>
</body>
